<head>
  <title>appWall</title>
</head>

<body>
     <div class="container2">
    <div class="container1">
    {{> header}}
    {{> form}}
    </div>
    </div>
    <div class="container">
    {{> posts}}
    </div>
</body>