<template name="header">
    <header>
        <h1 class="center-align">AppWall</h1>
        <p class="title center-align">{{> loginButtons}}</p>
    </header>
</template>

<template name="form">
    {{#if currentUser}}
    <form class="add-new-task">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <label class="fix">Author</label>
        <input class="fix" type="text">
        <label class="fix">Message</label>
        <input class="fix" type="text">
        <button class="center1 btn waves-effect waves-light">Submit
        </button>
    </form>
    {{/if}}
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            
          <div class="card">
            <div class="card-image">
              <img src="{{imageIs this.imageId}}" />
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <h2>{{this.name}}</h2>
              <p>{{updateMasonry}}{{this.Message}}</p>
            </div>
            <div class="card-action">
              <p class="time">{{this.createdAt}}</p>
            </div>
          </div>
            
        </div>
        {{/each}}
    </div>
</template>