.grid-sizer, .grid-item {
    width: 32%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.grid-item {
    margin-top: 50px;
}

body{
    background-color: dimgray;
}

.center-button {
    text-align: center;
}

.container1 {
    float: left;
    max-width: 375px;
    background-color: azure;
    padding-bottom: 25px;
    border: 5px solid black;
  
}

.container {
    float: right;
    max-width: 1500px;
}

.container2 {
    float: left;
    padding-top: 57px;
}

.title {
    padding-left: 100px;
    padding-right: 100px;
}

.center1 {
    margin-left: 120px;
}

.fix {
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: black;
}

.time {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
